body {
font-family:'PT Sans', 'Roboto', sans-serif;
font-size: 14px;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
line-height: 21px;
color: #000000;
margin: 0;
padding: 0;
background-color: #ffffff;
}

h1 {
  font-family:"MyriadPro", "PTSans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-family:"MyriadPro", " PTSans", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
}

.container {
  max-width: 1200px;
  margin: auto;
  box-shadow: 5px 5px 40px 5px #e1e1e1;
}

.clearfix::after {
  clear: both;
  display: table;
  content: "";
}

.main-header {
  position: relative;
  align-content: center;
  min-height: 56px;
}

.main-header ul {
  margin: 0;
  padding-right: 6%;
  padding-left: 6%;
}

.main-navigation a {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

nav li {
  line-height: 56px;
  list-style-type: none;
  width:20%;
}

.nav-right {
  width: 256px;
  float: right;
  line-height: 56px;
  text-align: right;
}

.main-header a:hover {
  color: #81b3d2;
}

.main-header a:active {
  color:#b2b2b2;
}

.nav-left {
  width: 256px;
  float: left;
  line-height: 56px;
  text-align: left;
}

.logo-city {
  width: 138px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  z-index: 1;
}

.img-mountains {
  background-image: url(../img/mountains.jpg);
  width: 1200px;
  min-height: 508px;
  padding-top: 75px;
  position: relative;
}

.img-mountains::after {
  background-image: url(../img/outline.png);
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
}

.img-welcome {
  width:800px;
  margin: auto;
}

.content {
  margin:auto;
  text-align: center;
}

.text {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 41px;
}

.text h1 {
  padding-top: 65px;
}

.block-sedona {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.block-text-1 {
  width: 34%;
  min-height: 256px;
  background-color: #81b3d2;
}

.block-text-1 h2 {
  padding-top: 50px;
  color: #ffffff;
}

.block-text-1,
 .block-text-2 p {
  color: #ffffff;
}

.block-img-1 {
  width: 66%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  right: 0;
}

.img-sedona,
.img-bridge {
  position: relative;
  width: 100%;
  height: auto;
  top: -70px;
}

.block-img-2 {
  width: 66%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
}

.block-text-2 h2 {
  padding-top: 49px;
  color: #ffffff;
}

.block-bridge {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.block p {
  color: #ffffff;
}

.item2 {
  background-color: #eeeeee;
}

.item-house,
.item-burger,
.item-present {
  width: 400px;
  float: left;
  padding-top: 60px;
  padding-bottom: 80px;
}

.item2-3,
.item2-4,
.item2-5 {
  width: 400px;
  float: left;
  padding-top: 50px;
  padding-bottom: 60px;
}

.block-text-2 {
  width: 34%;
  min-height: 256px;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.search {
  position: relative;
}

.search h2 {
  margin-top: 57px;
}

.search p {
  margin-bottom: 54px;
}

.search form {
  width: 458px;
  height: 395px;
  position: absolute;
  transform: translateX(-50%);
  margin-left: 50%;
  padding: 55px;
  padding-bottom: 0;
  background-color: #ffffff;
  font-size: 0;
  box-shadow: 0px 0px 5px 2px #e1e1e1;
}

.search a {
  display: block;
  width: 568px;
  margin: auto;
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: #766357;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  box-sizing: border-box;
  text-decoration: none;
}

.search label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.data {
  position: relative;
  background-color: #f2f2f2;
  width: 318px;
  height: 38px;
  margin-top: 29px;
  margin-left: 20px;
  padding: 14px;
  box-sizing: border-box;
  border: none;
}

.data:hover {
  background-color: #ebebeb;
}

.data:active {
  background-color: #ffffff;
}

.img-data {
  background-image: url(../img/data.png);
  width: 21px;
  height: 22px;
  position: absolute;
  top: 93px;
  right: 80px;
}

.img-data:hover {
  background-image: url(../img/data-hover.png);
  width: 21px;
  height: 22px;
  position: absolute;
  top: 93px;
  right: 80px;
}

.img-data:active {
  background-image: url(../img/data-active.png);
  width: 21px;
  height: 22px;
  position: absolute;
  top: 93px;
  right: 80px;
}

.img-data-off {
  background-image: url(../img/data.png);
  width: 21px;
  height: 22px;
  position: absolute;
  top: 160px;
  right: 80px;
}

.img-data-off:hover {
  background-image: url(../img/data-hover.png);
  width: 21px;
  height: 22px;
  position: absolute;
  top: 160px;
  right: 80px;
}

.img-data-off:active {
  background-image: url(../img/data-active.png);
  width: 21px;
  height: 22px;
  position: absolute;
  top: 160px;
  right: 80px;
}

.people {
  float: left;
  font-size: 0;
}

.person {
padding-top: 30px;
}

.person label {
  float: left;
  padding: 0 15px;
  margin-top: 8px;
}

.people {
  margin: 0 15px;
}

.qty {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  width: 38px;
  height: 36px;
  background-color: #f2f2f2;
  border: none;
}

.btn-plus {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  background-color: #f2f2f2;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: 15px;
  width: 38px;
  height: 38px;
  border: none;
  }

.btn-minus {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  background-color: #f2f2f2;
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-position: 15px;
  width: 38px;
  height: 38px;
  border: none;
}

.btn-search {
width: 458px;
height: 58px;
margin-top: 54px;
font-size: 21px;
color: #e2ecf4;
text-transform: uppercase;
background-color: #81b3d2;
border: none;
cursor: pointer;
}

.btn-search:hover {
  background-color: #669ec0;
}

.btn-search:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-inner {
  position: relative;
  width: 100%;
}

.main-footer {
  position: absolute;
  bottom: 8px;
  background-color: #f9fbf6;
  padding-top: 36px;
  padding-bottom: 15px;
  width: 100%;
  opacity: 0.9;
}

.footer-visit a {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.footer-visit {
  float: left;
  padding-left: 132px;
  padding-right: 100px;
}

.footer-social {
  float: left;
  padding-left: 190px;
}

.social-btn {
  display: inline-block;
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  text-indent: -1000px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn-twitter {
  background-image: url(../img/twitter.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-twitter:active {
  background-image: url(../img/twitter-active.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-fb {
  background-image: url(../img/fb.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-fb:active {
  background-image: url(../img/fb-active.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-youtube {
  background-image: url(../img/youtube.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-youtube:active {
  background-image: url(../img/youtube-active.png);
  background-repeat: no-repeat;
  background-position: center;
}

.logo-htmlacademy {
  float: right;
  padding-right: 103px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/logo_html.png);
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
}

.btn:hover {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/logo_html_hover.png);
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
}

.btn:active {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/logo_html_active.png);
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
}

.logo-htmlacademy span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
}

/*inner.html*/

.nav-right .active-hotel {
  color: #766357;
}

.filter {
  background-image: url(../img/filter_background.jpg);
  width: 1200px;
  min-height: 217px;
}

.filter h3 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 29px;
}

.filter label {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 25px;
}

.filter-infrastructure,
.filter-type-house {
  float: left;
  width: 160px;
  min-height: 160px;
  margin-left: 71px;
  margin-top: auto;
  margin-bottom: auto;
}

.filter-infrastructure label, span {
  position: relative;
  margin-left: 50px;
}

.filter-infrastructure input {
  position: absolute;
  left: -99999px;
  top: 0;
}

.filter-infrastructure span {
  right: 100px;
  top: 0;
  display: block;
}

.filter-infrastructure span:after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../img/yes.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 22px;
}

.filter-range {
  float: right;
  width: 330px;
  padding-right: 72px;
  margin: 32px auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

label {
  display: block;
}

.sort {
  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.sort h3 {
  float: left;
  font-size: 21px;
  font-weight: bold;
  margin-left: 72px;
}

.sort p {
  float: left;
  margin-top: 23px;
  font-size: 12px;
  margin-left: 56px;
}

.sort-a a {
  float: left;
  font-size: 12px;
  color: #b2b2b2;
  text-decoration: none;
  margin-left: 56px;
  margin-top: 23px;
  border-bottom: 1px dashed #81b3d2;
}

}
.sort-a a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-a a:active {
  color: #000000;
}

.sort-a .active-sort {
  color: #81b3d2;
  border: none;
}

.arrow {
  display: flex;
  float: right;
  margin-top: 27px;
  margin-right: 72px;
  width: 35px;
}

.btn-sort-down {
  display: block;
  text-indent: -999999px;
  height: 0;
  border: 5px solid transparent;
  border-top: 9px solid #cccccc;
}

.btn-sort-down:hover {
  display: block;
  text-indent: -999999px;
  height: 0;
  border: 5px solid transparent;
  border-top: 9px solid #000000;
}

.btn-sort-down:active {
  display: block;
  text-indent: -999999px;
  height: 0;
  border: 5px solid transparent;
  border-top: 9px solid #81b3d2;
}

.arrow .active-btn-down {
  display: block;
  text-indent: -999999px;
  height: 0;
  border: 5px solid transparent;
  border-top: 9px solid #81b3d2;
}

.btn-sort-up {
  display: block;
  text-indent: -999999px;
  height: 0;
  margin-right: 10px;
  border: 5px solid transparent;
  border-bottom: 9px solid #cccccc;
}

.btn-sort-up:hover {
  display: block;
  text-indent: -999999px;
  height: 0;
  margin-right: 10px;
  border: 5px solid transparent;
  border-bottom: 9px solid #000000;
}

.btn-sort-up:active {
  display: block;
  text-indent: -999999px;
  height: 0;
  margin-right: 10px;
  border: 5px solid transparent;
  border-bottom: 9px solid #81b3d2;
}

/* Треугольники через :after
.btn-sort-up {
  display: block;
  position: relative;
  float: right;
}
.btn-sort-up:after {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-bottom: 9px solid #81b3d2;
  top: 25px;
  right: 73px;
}

.btn-sort-up:after:hover {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-bottom: 9px solid #000000;
  top: 25px;
  right: 73px;

  .btn-sort-up:after:active {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-bottom: 9px solid #81b3d2;
  top: 25px;
  right: 73px;
}*/

.hotel {
  min-height: 121px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 30px;
}

.hotel h3 {
  margin-bottom: 0;
}

.hotel h3 a {
  color: #000000;
}

.hotel h3 a:hover {
  color: #81b3d2;
}

.hotel h3 a:active {
  color: #b2b2b2;
}

.hotel p {
  margin-top: 7px;
  margin-bottom: 9px;
}

.hotel span {
  padding-left: 30px;
}

.hotel a {
  text-decoration: none;
}

.img-hotel {
  float: left;
  padding-left: 72px;
  padding-right: 30px;
  padding-top: auto;
  padding-bottom: auto;
}

.hotel-info {
  float: left;
  margin-top: -18px;
}

.hotel-info .details a {
  color: #ffffff;
}

.details {
  display: inline-block;
  background-color: #81b3d2;
  padding: 7px 14px;
  font-size: 14px;
  color: #ffffff;
}

.details:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.details:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.booking {
  display: inline-block;
  background-color: #766357;
  padding: 7px 14px;
  font-size: 14px;
  color: #ffffff;
}

.booking:hover {
  background-color: #604e43;
  color: #ffffff;
}

.booking:active {
  background-color: #503e33;
  color: #857871;
}

.hotel-rating {
  float: right;
  margin-right: 72px;
}

.hotel-rating p {
background-color: #f2f2f2;
padding: 7px 14px;
font-size: 14px;
color: #666666;
margin-top: 35px;
}

.stars {
  text-align: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.star {
  display: inline-block;
  background-color: white;
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.main-footer-inn {
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 15px;
}
