body {
font-family:"MyriadPro", " PTSans", sans-serif;
font-size: 14px;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
line-height: 21px;
color: #000000;
text-align: center;
margin: 0;
padding: 0;
}

h1 {
  font-family:"MyriadPro", " PTSans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-family:"MyriadPro", " PTSans", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
}

.container {
  width: 1200px;
  margin: auto;
}

.clearfix::after {
  clear: both;
  display: table;
  content: "";
}

.main-header {

}

.main-navigation {

}

.nav-right {
  width: 265px;
  float: right;
}

.nav-left {
  width: 265px;
  float: left;
}

.logo-sity {
  width: 138px;
  margin: auto;
}

.img-mountains {
  height: 511px;
  background-image: url(../img/mountains.jpg);
}

.text {
  height: 215px;
  background-color: #ffffff;
}

.text h1 {
  padding-top: 65px;
}

.block-text-1 {
  height: 256px;
  width: 400px;
  background-color: #81b3d2;
  float: left;
}

.block-text-1 h2 {
  padding-top: 50px;
  color: #ffffff;
}

.block-img-1 {
  float: right;
}

.block-text-2 h2 {
  padding-top: 49px;
  color: #ffffff;
}

.block p {
  color: #ffffff;
}

.item {
  height: 330px;
}

.item2 {
  height: 256px;
  background-color: #eeeeee;
}

.item-house,
.item-burger,
.item-present,
.item2-3,
.item2-4,
.item2-5 {
  width: 400px;
  float: left;
  padding-top: 61px;
}

.block-text-2 {
  height: 256px;
  width: 400px;
  background-color: #81b3d2;
  float: right;
}

.block-text-2 h2 {
  padding-top: 49px;
}

.search {
  height: 251px;
}

.map {
  height: 473px;
}

.main-footer {
  height: 120px;
  padding-top: 50px;
}

.footer-visit,
.footer-social,
.footer-copyright {
  width: 400px;
  float: left;
}

/*index.html*/

.filter {
  height: 217px;
  background-image: url(../img/filter_background.jpg);
}

.filter-infrastructure,
.filter-type-house {
  float: left;
  width: 300px;
}

.filter-price {
  float: left;
  width: 600px;
}

.sort {
  height: 86px;
}

.hotel {
  height: 152px;
}

.hotel img {
  float: left;
}
